<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .pic {
            width: auto;
            height: 400px;
            object-fit: cover;
        }

    </style>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script type="text/babel">

        const Film = props => {
            return (
                <div className="card col-md-4" style={{width: "18rem;"}}>
                    <img src={props.pic} className="card-img-top pic" alt="filmPic"/>
                        <div className="card-body">
                            <h5 className="card-title">{props.name}</h5>
                            <p className="card-text">{props.year}</p>
                        </div>
                </div>
            );
        };

        const films = (
            <div className="container d-flex mt-5">
                <Film name="Constantine" year="2005" pic="https://m.media-amazon.com/images/M/MV5BODRiNmFhY2EtMGY2OC00YjI2LWIyYjQtYzFiM2ZhNjdhYzE4XkEyXkFqcGdeQXVyNDY5MTUyNjU@._V1_UY1200_CR85,0,630,1200_AL_.jpg"/>
                <Film name="Revolver" year="2005" pic="https://www.film.ru/sites/default/files/styles/thumb_1024x450/public/trailers_frame/revolver-on-showmax.jpg"/>
                <Film name="Sin City" year="2005" pic="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/6025abef-078b-4385-9cec-8237194ed38e/300x450"/>

            </div>
        )

        ReactDOM.render(films, document.getElementById('app'));
    </script>
</head>
<body>
<div id="app">123</div>
</body>
</html>